

.circle-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e0e5ec;
  margin-left: 30px;
  
}

.circle img {
  max-width: 80%;
  max-height: 80%;
}

.title{
  margin-top: 3rem;
  text-align: center;
  font-size:3rem;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: #e0e5ec;
}

.subtitle{
  margin-top: 1rem;
  text-align: center;
  font-size:1rem;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: #e0e5ec;
}

.text{
  text-align: center;
  font-size:1.2rem;
  color: #e0e5ec;
  
}

.video-container {
  border-radius: 40px;
}

@media screen and (min-width: 1024px) {
  .image-hover {
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }
  
  .image-hover:hover {
    transform: scale(1.5);
    
  }
}