@import url('https://fonts.googleapis.com/css?family=Montserrat');

.marquee {
--marquee-width: 100vw;
--marquee-height: 20vh;
--marquee-elements: 10;
--marquee-elements-displayed: 4;
--marquee-element-width: calc(var(--marquee-width) / var(--marquee-elements-displayed));
--marquee-animation-duration: calc(var(--marquee-elements) * 5s);

width: var(--marquee-width);
height: var(--marquee-height);
background-color: #11111100;
color: #e0060600;
overflow: hidden;
position: relative;
}

.marquee:before, .marquee:after {
position: absolute;
top: 0;
width: 13rem;
height: 100%;
content: "";
z-index: 1;
}

.marquee:before {
left: 0;
background: linear-gradient(to right, #63636300 0%, transparent 100%);
}

.marquee:after {
right: 0;
background: linear-gradient(to left, #11111100 0%, transparent 100%);

}

.marquee-content {
list-style: none;
height: 100%;
display: flex;
animation: scrolling var(--marquee-animation-duration) linear infinite;
}

@keyframes scrolling {
0% { transform: translateX(0); }
100% { transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements))); }
}

.marquee-content li {
display: flex;
justify-content: center;
align-items: center;
flex-shrink: 0;
width: var(--marquee-element-width);
max-height: 100%;
font-size: calc(var(--marquee-height)*3/4);
white-space: nowrap;
margin-left: 5rem;
margin-right: 10rem;
}

.marquee-content li img {
width: 100%;
border: 2px solid #eeeeee00;
}

@media (max-width: 600px) {
html { font-size: 12px; }

.marquee {
--marquee-width: 100vw;
--marquee-height: 16vh;
--marquee-elements-displayed: 3;

}

.marquee:before, .marquee:after {
width: 0rem;
}

}