
#cv{
    border-radius: 118px;
    background: linear-gradient(145deg, #2d2733, #26202b);
    box-shadow:  5px 5px 10px #110e13,
                 -5px -5px 10px #433a4d;
}

#cv:hover{
    
    color: rgb(214, 214, 214);
    border-radius: 118px;
    background: linear-gradient(145deg, #2d2733, #26202b);
    box-shadow:  5px 5px 10px #110e13,
                 -5px -5px 10px #433a4d;
}

#cv:focus{
    border-radius: 118px;
background: #2A2430;
box-shadow: inset 5px 5px 10px #110e13,
            inset -5px -5px 10px #433a4d;
}

