



  
@media (min-width: 200px) {  
    .nav {
        background-color: #efeeee;
        box-shadow: 30px 30px 30px 0 rgba(0,0,0,.07);
        list-style-type: none;
      }
    
      
    .nav a.logo {
        
        font-family: 'Roboto', sans-serif;
        font-size: 0.1rem;
        color: dimgray;
        text-shadow: 2px 2px 2px rgba(0,0,0,.3), -2px -2px 4px rgb(238, 238, 238);
        }
      
    .nav a :not(.logo) {
        margin: 1rem;
        padding: 0.5rem ;
        border: 10px solid rgba(255,255,255,.3);
        box-shadow: 4px 4px 6px 0 rgba(0,0,0,.1), -4px -4px 6px rgb(224, 224, 224);
        border-radius:  20px 20px 20px 20px;
        font-family: 'Roboto', sans-serif;
        cursor: pointer;
        transition: color 0.2s ease-out, transform 0.2s ease-out;
        color: dimgray;
        }
      
    .nav a :not(.logo):hover {
        transform: scale(1);
        box-shadow: 8px 8px 10px 0 rgba(0,0,0,.1), -4px -4px 10px rgb(77, 16, 16);
        }

}
@media (min-width: 768px) {
    .nav {
        
        
        background-color: #efeeee;
        box-shadow: 10px 10px 12px 0 rgba(255, 255, 255, 0.07);
        list-style-type: none;
      }
       
    .nav a.logo {
        
        font-family: 'Roboto', sans-serif;
        font-size: 1.5rem;
        color: dimgray;
        font-weight: 900;
        text-shadow: 2px 2px 4px rgba(0,0,0,.3), -2px -2px 4px rgb(255, 255, 255);
        }
      
    .nav a :not(.logo) {
        
        margin: 2rem;
        padding: 0.5rem ;
        border: 10px solid rgba(255, 255, 255, 0.3);
        box-shadow: 4px 4px 6px 0 rgba(0,0,0,.1), -4px -4px 6px rgb(255, 255, 255);
        border-radius:  25px 25px 25px 25px;;
        font-family: 'Roboto', sans-serif;
        cursor: pointer;
        transition: color 0.2s ease-out, transform 0.2s ease-out;
        color: dimgray;
        }
      
    .nav a :not(.logo):hover {
        transform: scale(1.05);
        box-shadow: 4px 4px 10px 0 rgba(0,0,0,.1), -4px -4px 10px rgba(255,255,255,1);
        }
 }


@media (min-width: 976px) { 
    .nav {
        width: 20%;
        background-color: #efeeee;
        box-shadow: 10px 10px 12px 0 rgba(0,0,0,.07);
        border-radius: 50px 50px 50px 50px;
        list-style-type: none;
      }
       
    .nav a.logo {
        color: dimgray;
        text-shadow: 2px 2px 4px rgba(0,0,0,.3), -2px -2px 4px rgba(255,255,255,1);
        }
      
    .nav a :not(.logo) {
        margin: 2rem;
        padding: 0.5rem ;
        border: 10px solid rgba(255,255,255,.3);
        box-shadow: 4px 4px 6px 0 rgba(0,0,0,.1), -4px -4px 6px rgba(255,255,255,1);
        border-radius:  25px 25px 25px 25px;;
        font-family: 'Roboto', sans-serif;
        cursor: pointer;
        transition: color 0.2s ease-out, transform 0.2s ease-out;
        color: dimgray;
        }
      
    .nav a :not(.logo):hover {
        transform: scale(1.05);
        box-shadow: 4px 4px 10px 0 rgba(0,0,0,.1), -4px -4px 10px rgba(255,255,255,1);
        }
}

@media (min-width: 1910px) { 
    .nav {
        width: 30%;
        background-color: #efeeee00;
        box-shadow: 10px 10px 12px 0 rgba(0,0,0,.00);
        border-radius: 50px 50px 50px 50px;
        list-style-type: none;
      }
       
    .nav a.logo {
        color: #efeeee;
        text-shadow: 2px 2px 4px #efeeee, -2px -2px 4px #efeeee;
        }
      
    .nav a :not(.logo) {
        margin: 2rem;
        padding: 0.5rem ;
        border: 10px solid rgb(255, 255, 255);
        box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.247), -4px -4px 6px rgba(255, 255, 255, 0.301);
        border-radius:  25px 25px 25px 25px;;
        background-color: #ffffff;
        font-family: 'Roboto', sans-serif;
        cursor: pointer;
        transition: color 0.2s ease-out, transform 0.2s ease-out;
        color: dimgray;
        }
      
    .nav a :not(.logo):hover {
        transform: scale(1.05);
        box-shadow: 4px 4px 10px 0 rgba(0,0,0,.1), -4px -4px 10px rgba(255,255,255,1);
        }
}
